<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	
	<link rel="stylesheet" href="/css/Register.css">
</head>
	<body>
		<nav class="sticky navbar">
		<div class="brand  display__logo">
			<a href="/" class="nav__link"> <span class="logo">My
					Series</span></a>
		</div>

		<input type="checkbox" id="nav" class="hidden" /> <label for="nav"
			class="nav__open"><i></i><i></i><i></i></label>
		<div class="nav">
			<ul class="nav__items">
				<li  class="nav__item"><div id="toggle"></div></li>
				<li class="nav__item"><a href="/" class="nav__link">Inicio</a></li>
				<li class="nav__item"><a href="/directorio" class="nav__link">Directorio</a></li>
				<li class="nav__item"><a href="formularioLogin"
					class="nav__link">Login</a></li>
				<li class="nav__item"><a href="formularioRegister"
					class="nav__link">Register</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		
		
	
    	<form   class="form-signin" action="#" th:action="@{/signup}" th:object="${user}" method="post">
    	<h1 id="titulo-register">Registrate</h1>
        	<table>
            	<tr>
                	<td><input type="text" th:field="*{username}" placeholder="Username" /></td>
                	<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errores">Name Error</td>
            	</tr>
            	<tr>
                	<td><input type="text" th:field="*{email}" placeholder="Email" /></td>
                	<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errores">Email Error</td>
            	</tr>
            	<tr>
                	<td><input type="password" th:field="*{password}" placeholder="Password" /></td>
                	<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" id="error3">Password Error</td>
            	</tr>
            	
            	
            	<tr>  
            	<td>
	            	<select class="form-select form-select-lg" th:field="*{roles}" name="rol" id="rol">
					   <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">User</option>
					</select>
            	</td>
            	</tr>
            	
            	
            	<tr>
                	<td><button id="boton-submit" type="submit">Submit</button></td>
            	</tr>
        	</table>
    	</form>
    	
    	
    	
    	</div>
    	
    	<script src="js/toggle.js"></script>
	</body>
</html>
